<br/><label for="inpX">Entrer la valeur de X</label><br/><input id="inpX" [(ngModel)]="valX"><br/>
<label for="inpY">Entrer la valeur de Y</label><br/><input id="inpY" [(ngModel)]="valY"><br/>
<label for="inpRayon">Entrer la valeur du rayon</label><br/><input id="inpRayon" [(ngModel)]="valRayon"><br/>
<label for="inpHauteur">Entrer la valeur de la hauteur </label><br/><input id="inpHauteur" [(ngModel)]="valHauteur"><br/>
<label for="inpLargeur">Entrer la valeur de la largeur</label><br/><input id="inpLargeur" [(ngModel)]="valLargeur"><br/>
