<div>
   <button (click)="onAddCercle()" class="btn btn-primary btn-sm">Add Cercle</button>

   <button (click)="onAddRectangle()" class="btn btn-primary btn-sm">Add Rectangle</button>
   <br /><br />
   <button (click)="onSaveDessin()" class="btn btn-success">Save dessin</button>
   <button (click)="onLoadDessin()" class="btn btn-info">Load dessin</button>
   <br /><br />
   <button (click)="onClearDessin()" class="btn btn-warning">Effacer dessin</button>
</div>
<br />
<input [(ngModel)]="srvPlan.instancePlan.name"><br />
<!--   select liste des dessins   -->
<select (change)="onLstChange()" [(ngModel)]="valSelect" >
   <option *ngFor="let item of srvPlan.listeDesDessins" value=" {(item)} "> {{item}} </option>
</select>

<!--   Zone de saisie de la géométrie   -->
<app-geometry #geometry></app-geometry>