<div>
   <form action="cercle.json">
      <input type="text" name="x" placeholder="Valeur de x">
      <input type="text" name="y" placeholder="Valeur de y">
      <input type="text" name="rayon" placeholder="Valeur du rayon">
      <button (click)="onAddCercle()">Add Cercle</button>
   </form>
   <br/>
   <form action="rectangle.json">
      <input type="text" name="x" placeholder="Valeur de x">
      <input type="text" name="y" placeholder="Valeur de y">
      <input type="text" name="hauteur" placeholder="Valeur de la hauteur">
      <input type="text" name="largeur" placeholder="Valeur de la largeur">
      <button (click)="onAddRectangle()">Add Rectangle</button>
   </form>
</div>