<div style="text-align:center">
   <tabset>
      <tab heading="Basic title" id="tab1">Welcome to {{ title }}!</tab>
      <tab heading="Basic title" id="tab1"><i class="fab fa-angular" style="font-size: 3rem"></i></tab>
      <tab heading="Basic Title 1"><i class="fab fa-node-js 5x" style="font-size: 3rem"></i></tab>
      <tab heading="Basic Title 2"><i class="fas fa-shipping-fast 5x" style="font-size: 3rem"></i></tab>
      <tab heading="Basic Title 3"><i class="fab fa-envira 5x" style="font-size: 3rem"></i></tab>
   </tabset>
</div>

<div>
   <app-menu></app-menu>

   <app-draw></app-draw>

   <router-outlet></router-outlet>
</div>